<html>
    <head>
        <title>Angular split form</title>
        <link rel="stylesheet" href="http://cdn.regis.edu/AF_first_page/css/bootstrap.min.css" />
    </head>
    <body ng-app="myApp">

        
        
        <form method="post" name="copyaffiliate_faculty_lead_gen-635972899071112234" action="https://s1612941136.t.eloqua.com/e/f2" id="form83" class="elq-form form-vertical" ng-controller="formController" novalidate>
        <input value="copyaffiliate_faculty_lead_gen-635972899071112234" type="hidden" name="elqFormName"  />
        <input value="1612941136" type="hidden" name="elqSiteId"  />
        <input name="elqCampaignId" type="hidden"  />    
            <fieldset ng-show="step == 1">
                <!-- <legend>Step one</legend> -->
                <!-- <div class="form-group"> -->
                   <div id="formElement0" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                      <div class="field-wrapper" >
                      </div>
                      <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                        <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                          <p style="position: relative; margin: 0px; padding: 0px" >
                            <label for="field0" style="display: block; line-height: 150%; padding: 1px 0pt 3px; white-space: nowrap" >
                              AcademicAreaInterest
                            </label>
                            <select id="field0" name="areaInterest" style="width: 100%" ng-model="areaInterest" required>
                              <option value="" selected="selected" >
                                Select an area of interest
                              </option>
                              <option value="Undecided" >
                                Undecided/Not Sure
                              </option>
                              <option value="Business" >
                                Business and Management
                              </option>
                              <option value="CIS" >
                                Computer and Information Sciences
                              </option>
                              <option value="Education" >
                                Education
                              </option>
                              <option value="Healthcare" >
                                Healthcare
                              </option>
                              <option value="HSS" >
                                Fine Arts, Humanities and Social Sciences
                              </option>
                              <option value="STEM" >
                                Science, Technology, Engineering and Math
                              </option>
                            </select>
                            <div ng-messages="copyaffiliate_faculty_lead_gen-635972899071112234.areaInterest.$error" ng-show="copyaffiliate_faculty_lead_gen-635972899071112234.areaInterest.$touched">
                               
                             </div>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div id="formElement1" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                      <div class="field-wrapper" >
                      </div>
                      <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                        <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                          <p style="position: relative; margin: 0px; padding: 0px" >
                            <label for="field1" style="display: block; line-height: 150%; padding: 1px 0pt 3px; white-space: nowrap" >
                              Academic Program of Interest
                            </label>
                            <select id="field1" name="academicProgramOfInterest1" style="width: 100%" ng-model="academicProgramOfInterest1" required>
                              <option value="" >
                                - Select -
                              </option>
                              <option value="356748bf-c492-e411-83a9-005056b8001d" >
                                Graduate Certificate: Health Care Business Management
                              </option>
                              <option value="3cd33fb3-a2d8-e411-8793-005056b8001d" >
                                Post-Graduate Certificate: Adult-Gerontology Acute-Care Nurse Practitioner
                              </option>
                              
                            </select>
                            <div ng-messages="copyaffiliate_faculty_lead_gen-635972899071112234.academicProgramOfInterest1" ng-show="copyaffiliate_faculty_lead_gen-635972899071112234.academicProgramOfInterest1.$touched">
                                <div ng-message="required">This field is required</div>
                             </div>
                          </p>
                        </div>
                      </div>
                    <!-- </div> -->
                <button class="btn btn-primary" ng-click="nextStep()">Next step</button>
            </fieldset>
            <fieldset ng-show="step == 2">
                <!-- <legend>Step two</legend> -->
                <!-- <div class="form-group"> -->
                    <div id="formElement2" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <label for="field2" style="display: block; line-height: 150%; padding: 1px 0pt 3px; white-space: nowrap" >
                                  First Name
                                  <span style="color: red !important; display: inline; float: none; font-weight: bold; margin: 0pt 0pt 0pt; padding: 0pt 0pt 0pt" >
                                    *
                                  </span>
                                </label>
                                <input id="field2" name="firstName" type="text" value="" style="width: 100%" ng-model="firstName" required>
                                <div ng-messages="copyaffiliate_faculty_lead_gen-635972899071112234.firstName.$error" ng-show="copyaffiliate_faculty_lead_gen-635972899071112234.firstName.$touched">
                                  <div ng-message="required">This field is required</div>
                                </div>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement3" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <label for="field3" style="display: block; line-height: 150%; padding: 1px 0pt 3px; white-space: nowrap" >
                                  Last Name
                                  <span style="color: red !important; display: inline; float: none; font-weight: bold; margin: 0pt 0pt 0pt; padding: 0pt 0pt 0pt" >
                                    *
                                  </span>
                                </label>
                                <input id="field3" name="lastName" type="text" value="" style="width: 100%" ng-model="lastName" required>
                                 <div ng-messages="copyaffiliate_faculty_lead_gen-635972899071112234.lastName.$error" ng-show="copyaffiliate_faculty_lead_gen-635972899071112234.lastName.$touched">
                                  <div ng-message="required">This field is required</div>
                                </div>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement4" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <label for="field4" style="display: block; line-height: 150%; padding: 1px 0pt 3px; white-space: nowrap" >
                                  Phone
                                  <span style="color: red !important; display: inline; float: none; font-weight: bold; margin: 0pt 0pt 0pt; padding: 0pt 0pt 0pt" >
                                    *
                                  </span>
                                </label>
                                <input id="field4" name="phoneNumber" type="text" value="" style="width: 100%" ng-model="phoneNumber" required>
                                 <div ng-messages="copyaffiliate_faculty_lead_gen-635972899071112234.phoneNumber.$error" ng-show="copyaffiliate_faculty_lead_gen-635972899071112234.phoneNumber.$touched">
                                  <div ng-message="required">This field is required</div>
                                </div>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement5" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <label for="field5" style="display: block; line-height: 150%; padding: 1px 0pt 3px; white-space: nowrap" >
                                  Email Address
                                  <span style="color: red !important; display: inline; float: none; font-weight: bold; margin: 0pt 0pt 0pt; padding: 0pt 0pt 0pt" >
                                    *
                                  </span>
                                </label>
                                <input id="field5" name="emailAddress" type="text" value="" style="width: 100%" ng-model="emailAddress" required>
                                <div ng-messages="copyaffiliate_faculty_lead_gen-635972899071112234" ng-show="copyaffiliate_faculty_lead_gen-635972899071112234.emailAddress.$touched">
                                  <div ng-message="required">This field is required</div>
                                  <div ng-message="email">Your email address is invalid</div>
                                </div>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement6" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <label for="field6" style="display: block; line-height: 150%; padding: 1px 0pt 3px; white-space: nowrap" >
                                  Referred by faculty (name)
                                </label>
                                <input id="field6" name="referredBy" type="text" value="" style="width: 100%"  />
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement7" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <input id="field7" type="hidden" name="hfCID1" value=""  />
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement8" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <input id="field8" type="hidden" name="hfCID2" value=""  />
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement9" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <input id="field9" type="hidden" name="hfCID3" value=""  />
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement10" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <input id="field10" type="hidden" name="hfCollege" value="100000002"  />
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement11" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <input id="field11" type="hidden" name="hfAdmit" value="38980113-DEA8-E011-B7AA-005056B8001D"  />
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement12" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <label for="field12" style="display: block; line-height: 150%; padding: 1px 0pt 3px; white-space: nowrap" >
                                  Originating Website
                                </label>
                                <input id="field12" name="originatingWebsite1" type="text" value="" style="width: 100%"  />
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="formElement13" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <label for="field13" style="display: block; line-height: 150%; padding: 1px 0pt 3px; white-space: nowrap" >
                                  What color is the sky?
                                </label>
                                <input id="field13" name="sky" type="text" value="" style="width: 100%"  />
                                <label class="instructions" style="color: #444444; display: block; font-size: 10px; padding: 6px 0pt 3px; margin: 0px" >
                                  Please answer blue above
                                </label>
                              </p>
                            </div>
                          </div>
                        </div>
                        <!-- <div id="formElement14" class="sc-view form-design-field sc-static-layout sc-regular-size" style="left: 0px; right: 0px; top: 0px; bottom: 0px; padding: 6px 5px 9px 9px" >
                          <div class="field-wrapper" >
                          </div>
                          <div class="field-wrapper" style="float: left; width: 100%; clear: both" >
                            <div class="_100" style="float: left; width: 96%; margin-right: 2%; margin-left: 2%" >
                              <p style="position: relative; margin: 0px; padding: 0px" >
                                <input type="submit" value="Request Information &#8250;" class="submit-button" style="font-size: 100%; height: 50px; width: 100%"  />
                              </p>
                            </div>
                          </div> -->
                        <!-- </div> -->
                      </form>
                      
                      
                      
                </div>
                <button class="btn btn-primary" ng-click="prevStep()">BACK</button>
                <button class="btn btn-primary" ng-click="submitForm()">Submit</button>
                
            </fieldset>
            <fieldset ng-show="step == 3">
                <legend>Step three</legend>
                <div class="form-group">
                    <p>Thank you for submitting your information</p>
                </div>
                
            </fieldset>
        </form>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-messages.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
